<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>MediPsychiatrie - Chatbot</title>
		
		<!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chat-box"></div><br>
        <input type="text" id="user-input" placeholder="Type a message...">
        <button id="send-button">Envoyer</button>

        <!-- Button to show/hide chat history -->
        <button id="show-history-button">Masquer l’historique</button>

        <!-- Chat History Section -->
        <div class="history-container" id="history-container">
            <!-- This section will be populated with chat history -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
